# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Vercel
.vercel

# Next.js
/.next/
/out/

# Production
/build

# Local Environment Variables
.env*.local

# Secrets and Keyfiles - DO NOT COMMIT
# *.json # Temporarily disabled to allow tsconfig.json
renting-*.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# misc
.DS_Store
*.pem

# testing
/coverage

# typescript
*.tsbuildinfo
next-env.d.ts

# JSON key files
*.json

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local
.env.local
.env.development.local
.env.test.local
.env.production.local

# pnpm
pnpm-debug.log* 